<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VTeam Shopping Website</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Cửa hàng bán rượu trực tuyến">
		<meta name="author" content="VTeam">
		<link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
		<link href="/stylesheets/guest/style.css" rel="stylesheet"/>
		<link href="/stylesheets/layout.css" rel="stylesheet"/>
		<link href="/stylesheets/font-awesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
		<link href="/stylesheets/user/style.css" rel="stylesheet">

		<!--[if IE 7]>
			<link href="stylesheets/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Favicons -->
		<link rel="shortcut icon" href="/ico/favicon.ico">
	</head>
	<body>
		{{> header_section}}
		<br>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 user">
					<div class="row">
						<div class="col-sm-3">
							<h5>TÀI KHOẢN</h5>
							<hr class="soften">
							<a class="userbar-item selected" href="/user/info"><span>THÔNG TIN TÀI KHOẢN</span></a>
							<a class="userbar-item" href="/user/cart"><span>GIỎ HÀNG</span></a>
							<a class="userbar-item" href="history_order.html"><span>LỊCH SỬ MUA HÀNG</span></a>
						</div>
						<div class="col-sm-9">
							{{{body}}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer_section}}
		<div class="copyright">
			<div class="container">
				<p class="pull-right">
					<a href="#"><img src="/images/maestro.png" alt="payment"></a>
					<a href="#"><img src="/images/mc.png" alt="payment"></a>
					<a href="#"><img src="/images/pp.png" alt="payment"></a>
					<a href="#"><img src="/images/visa.png" alt="payment"></a>
					<a href="#"><img src="/images/disc.png" alt="payment"></a>
				</p>
				<span>Copyright &copy; 2018<br> VTeam shopping website</span>
			</div>
		</div>
		<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.bundle.min.js"></script>
		<script>
		
			 (function(){
				var lock = false;
				function checkScroll(){
				    var startY = 10; 
				    if($(window).scrollTop() > startY){
				        $('.navbar').addClass("scrolled");
				    }else{
				        $('.navbar').removeClass("scrolled");
				    }
				}

			    $(window).scroll(function(){
			        checkScroll();
			    });
			})();
		</script>
	</body>
</html>