<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Your Account</h5>
            <a href="#">YOUR ACCOUNT</a><br>
            <a href="#">PERSONAL INFORMATION</a><br>
            <a href="#">ADDRESSES</a><br>
            <a href="#">DISCOUNT</a><br>
            <a href="#">ORDER HISTORY</a><br>
        </div>
        <div class="col-2">
            <h5>Information</h5>
            <a href="contact.html">CONTACT</a><br>
            <a href="#">SITEMAP</a><br>
            <a href="#">LEGAL NOTICE</a><br>
            <a href="#">TERMS AND CONDITIONS</a><br>
            <a href="#">ABOUT US</a><br>
        </div>
        <div class="col-2">
            <h5>Our Offer</h5>
            <a href="#">NEW PRODUCTS</a> <br>
            <a href="#">TOP SELLERS</a><br>
            <a href="#">SPECIALS</a><br>
            <a href="#">MANUFACTURERS</a><br>
            <a href="#">SUPPLIERS</a> <br/>
        </div>
        <div class="col-6">
            <h5>The standard Wines</h5>
            It's a common dilemma: you want to open a new bottle of wine,
            but you only plan on drinking a glass or two.
            Some wine experts say it's best to finish the whole bottle within 24 hours for the freshest taste,
            and it's a bummer to pour another glass the following week only to realize it's gone bad.
            A solution that's becoming more common is the idea of letting people buy wines by the glass —
            in places other than restaurants. And a new company called Standard Wines, which launched on Nov. 17,
            makes this concept more accessible to wine-lovers everywhere.
        </div>
    </div>
    </div>
</footer>