<div class="product-item">
    <div class="img-wrapper">
        <a href="/product/{{this.id}}"><img src="{{this.images}}">
        </a>
    </div>
    <div class="caption">
        <div class="title">{{this.name}}</div>
        <div class="price">{{money this.price }}</div>
        <div class="caption-box">
            <div class="category">Loại: Whisky</div>
            <div class="vendor">NSX: Vodka</div>
        </div>
    </div>
</div>