<div class="col-sm-9">
    <div class="product-header"> {{header}}</div>
    <div class="row">
        <div class="col">
            <br>
            <hr class="mt-0">
            <div id="badge-ribbon"></div>
            <div class="row product-view">
                {{#each products}}
                <div class="col-3">
                    {{> product this csrfToken=../csrfToken}}
                </div>
                {{#if_eq @index 3}}
                <div class="w-100"></div>
                {{/if_eq}} {{/each}}
            </div>
        </div>
    </div>
</div>