<div class="col-sm-9">
	
	<!--
	New Products
	-->
	
	<!--
	Most View Products
	-->
	<div class="row">
		<div class="col">
		<h3>
			<a class="btn btn-link float-right" href="products_1.html" title="View more">Xem thêm</a>
			SẢN PHẨM MỚI
		</h3>
		<hr class="soften"/>
			<div class="row">
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_1.jpg" alt=""></a>
						<div class="caption">
							<h5>Hennessy XO (Extra Old)</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$22.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_2.jpg" alt=""></a>
						<div class="caption">
							<h5>Absolut Citron</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$22.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_3.jpg" alt=""/></a>
						<div class="caption">
							<h5>Johnnie Walker Gold Label</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$22.00</span>
							</h4>
						</div>
					</div>
				</div>
			</ul>
			<div class="row">
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_4.jpg" alt=""></a>
						<div class="caption">
							<h5>Cognac Henri IV Dudognon</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$92.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_5.jpg" alt="hư rồi"></a>
						<div class="caption">
							<h5>Vodka Diva Diamonds</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$32.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_6.jpg" alt="hư rồi"/></a>
						<div class="caption">
							<h5>Wine-Chateau-Lafitteis</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$122.00</span>
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="thumbnails row">
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_7.jpg" alt=""></a>
						<div class="caption">
							<h5>Ultra Premium Tequila Ley 0,925</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$99.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_8.jpg" alt=""></a>
						<div class="caption">
							<h5>The Macallan 1926</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$202.00</span>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
						<a class="zoomTool" href="product_details_1.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
						<a  href="product_details_2.html"><img src="images/3_9.jpg" alt=""/></a>
						<div class="caption">
							<h5>Distillers Jamaica</h5>
							<h4>
							<a class="defaultBtn" href="product_details_1.html" title="Click to view"><span class="fas fa-search-plus"></span></a>
							<a class="shopBtn" href="#" title="add to cart"><span class="fas fa-plus"></span></a>
							<span class="float-right">$232.00</span>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>