<h5>LỊCH SỬ MUA HÀNG</h5>
<hr class="soften">
<div class="content">
	<section class="history">
		</div>
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-outline-dark active">
		    <input type="radio" name="gender" id="option1" autocomplete="off" value="newest" checked> Mới nhất
		  </label>
		  <label class="btn btn-outline-dark">
		    <input type="radio" name="gender" id="option2" autocomplete="off" value="oldest"> Cũ nhất
		  </label>
		</div>
		<table class="table history-list">
			<thead class="history-item">
				<tr header>
					<th class="item-code">Mã đơn hàng</th>
					<th class="item-totalprice">Tổng giá</th>
					<th class="item-status">Trạng thái</th>
					<th class="item-date">Ngày tạo</th>
				</tr>
			</thead>
			<tbody>
				<tr class="history-item">
					<td href="order_details.html" class="item-code">A01-SG19</td>
					<td class="item-totalprice">120.000 VNĐ</td>
					<td class="item-status paid">Hàng đã về</td>
					<td class="item-date">11-09-2017</td>
				</tr>
				<tr class="history-item">
					<td class="item-code">A01-SG16</td>
					<td class="item-totalprice">8.625.000 VNĐ</td>
					<td class="item-status canceled">Đã hủy</td>
					<td class="item-date">20-05-2017</td>
				</tr>
				<tr class="history-item">
					<td class="item-code">A01-SG12</td>
					<td class="item-totalprice">380.000 VNĐ</td>
					<td class="item-status">Chờ nhận hàng</td>
					<td class="item-date">21-01-2017</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>