<div class="col-sm-9 user">
	<div class="userbar">
		<a class="userbar-item" href="profile.html"><i class="icon-user"></i><span>Thông tin tài khoản</span></a>
		<a class="userbar-item selected"><i class="icon-shopping-cart"></i><span>Giỏ hàng</span></a>
		<a class="userbar-item" href="history_order.html"><i class="icon-list-alt"></i><span>Lịch sử mua hàng</span></a>
	</div>
	<div class="content">
		<section class="cart">
			<div class="cart-list">
				<div class="cart-item header">
					<div class="item-image">Hình ảnh</div>
					<div class="item-name">Sản phẩm</div>
					<div class="item-quantity">Số lượng</div>
					<div class="item-price">Giá</div>
					<div class="item-totalprice">Thành tiền</div>
				</div>
				<div class="cart-item">
					<div class="item-image"></div>
					<div class="item-name">Sennheiser MX270</div>
					<input type="number" class="item-quantity" value="1"/>
					<div class="item-price">270.000 VNĐ</div>
					<div class="item-totalprice">270.000 VNĐ</div>
				</div>
			</div>
			<button class="update">Cập nhật</button>
			<button class="order">Đặt hàng</button>
		</section>
	</div>
</div>
