body{
	background-color: white;
	/*background: url("/images/bgr.svg") no-repeat;
	background-size: 100vw;*/
}
@font-face{
	font-family: "IBM Plex Serif";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/IBMPlexSerif-Regular.ttf");
}
@font-face{
	font-family: "IBM Plex Serif";
	font-style: normal;
	font-weight: bold;
	src: url("/fonts/IBMPlexSerif-SemiBold.ttf");
}
.search-btn{
	background: none;
	border: none;
	border-bottom: solid 1.5px #c7c7c7;
	color: black;
}
.hero{
	padding: 10px 0;
}
.bg-dark-75{
	background-color: rgba(0,0,0, 0.6);
}
.sidebar{
	background-color: white;
}
#sidebar .nav a{
	color:#000;
}
#sidebar .nav a:hover{
	color: black;
	font-weight: bold;
}
.nav-header{
	padding: 9px 17px;
	background: white;
}
.bg-stand-out{
	margin-top: -90px;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	background-image: url("/images/22.jpg");
}
.navbar.scrolled{
	border-bottom: solid 1px #dbdbdb !important;
}
.navbar.scrolled .navbar-brand{
	font-size: 1.2rem;
	margin-bottom: -2.35px;
}
.navbar-brand{
	font-family: 'IBM Plex Serif', serif;
	font-size: 2rem;
	color: inherit;
	transition: font-size 0.3s ease-in-out, margin-bottom 0.3s;
}
/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar{
	background-color: white!important;
}
.navbar .navbar-nav-standout{
	margin-top: -17px;
	transition: margin-top 0.3s;
	color: white;
	margin-bottom: -8px;
}
.navbar.scrolled .navbar-nav-standout{
	margin-top: -8px;
	color: white;
	margin-bottom: -8px;
}
.navbar .navbar-nav-standout:hover{
	background-color: #f6f6f6;
}
.navbar .navbar-nav-standout .nav-item{
	display: flex;
	align-items: center;
}
.badge-notification{
	color: white;
	background-color: #666;
	padding: 5px;
}
.shopBtn {
	min-height: 34px;
	font-size: 14px;
	font-weight: bold;
	line-height: 34px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: #a5a5a5;
	display:inline-block;
	padding:0 12px;
	border:0;}
.shopBtn:hover {
	color: #fff;
	text-decoration:none; 
	background: #2E2E2E;
}
.control-group{
	margin-bottom: 10px;
}
.footer {
	background-color:#e7e7e7; 
	color:#202020; 
	padding: 28px 8px 18px; 
	margin-top: 18px;
}
.footer a{
	color:#1e1e1e; 
	font-size:12px;
}
.thumbnail .caption {
	padding: 9px;
	color: #555555;
}
.thumbnail .caption h5{
	font-size: 16px;
}
.product-item{
	height: 320px;
	padding: 5px;
	position: relative;
}
.product-item:before{
	content: " ";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}
.img-wrapper{
	height: 80%;
	overflow: hidden;
	position: relative;
}
.img-wrapper img{
	height: 100%;
}
.caption{
	height: 20%;
	overflow: hidden;
}
.caption .title{
	text-align: center;
	font-size: 1.25rem;
	color: black;
	font-size: 1rem;
}
.caption .price{
	text-align: center;
	color: #b82525;
	font-size: 1rem;
}
.caption .view{
	color: black;
	font-size: 1rem;
}
.section-title{
	display: flex;
}
.section-title .badge{
	align-self: flex-start;
	margin-left: 5px;
	color: white;
}

/* cart.hbs */
.item-image{
	width: 100px;
}
.item-image img{
	max-width: 100%;
}

.col-2m4{
	width: 20%;
	max-width: 20%;
	padding-right: 15px;
	padding-left: 15px;
}


/* product/show */
.product-buy-box{
	display: flex;
	flex-direction: column;
}
.product-buy-box .sub-box{
	display: flex;
	margin-top: 5px;
}
.product-buy-box .sub-box .status{
	padding: 2px 5px;
	font-size: 0.9rem;
	border-radius: 3px;
	font-weight: regular;
	background-color: #414141;
	color: white;
	pointer-events: none;
}
.product-buy-box > .title{
	font-size: 1.6rem;
}
.product-buy-box .box{
	margin-bottom: 10px;
}
.product-buy-box .box .title{
	font-size: 0.9rem;
	color: gray;
}
.product-buy-box .box .value{
	font-size: 1.2rem;
}
.product-buy-box .price .value{
}
.product-buy-box .description{
	margin-bottom: 20px;
}
.add-cart{
	display: flex;
	flex-direction: column;
	margin-top: auto;
}
.add-cart .quantity-control{
	display: flex;
}
.add-cart .quantity-control input{
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 0;
	outline: none;
	border: solid 1px gray;
	text-align: center;
	transition: border 0.2s ease-in-out;
	width: 15%;
}
.add-cart .quantity-control input:hover{
	border-color: black;
	z-index: 1;
}

.add-cart .quantity-control button{
	border: solid 1px gray;
	background-color: white;
	display: flex;
	padding: 6px 9px;
	transition: border 0.2s ease-in-out;
	outline: none;
	flex-grow: 1;
	justify-content: center;
}
.add-cart .quantity-control button:hover{
	border-color: black;
	z-index: 1;
}
.add-cart .quantity-control button:focus{
	border-color: black;
	z-index: 1;
}
.add-cart .quantity-control #increase{
	margin-left:-1px;
}
.add-cart .quantity-control #decrease{
	margin-right: -1px;
}
.add-cart .quantity-control svg{
	width: 10px;
	height: 10px;
}
.add-cart .cart-button{
	margin-top: 10px;
	padding: 3px;
	outline: none;
	border: solid 1px gray;
	background-color: white;
	transition: border 0.2s ease-in-out;
}
.add-cart .cart-button:focus, .add-cart .cart-button:hover{
	border-color: black;
}
.product-image{
	padding: 60px;
}
.full-height{
	min-height: calc(100vh - 100px);
}

/* Search box */
.search-window{
	position: relative;
}
.search-results{
	display: none;
	position: absolute;
	left: 0;
	background-color: white;
	top: 33px;
	width: 75%;
	height: 300px;
	border: solid 1px #d8d8d8;
	box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.06);
}
.search-window.active .search-results{
	display: flex;

	flex-direction: column;
	overflow: hidden;
}
.search-results-inner{
	overflow-y: scroll;
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 0;
	width: calc(100% + 15px);
	height: 300px;
}
.search-window .search-results .item{
	display: flex;
	position: relative;
	height: 70px;
	padding: 5px;
	padding-left: 15px;
	align-items: center;
	transition: background-color 0.1s ease-in-out;
}
.search-window .search-results .item:hover{
	background-color: #ececec;
}
.search-window .search-results .item .image{
	display: flex;
	justify-content: flex-end;
	height: 80%;
}
.search-window .search-results .item .info{
	display: flex;
	padding: 15px;
	width: 80%;
	flex-direction: column;
	justify-content: center;
}
.search-window .search-results .item .info .name{
	color: black;
}
.search-window .search-results .item .info .price{
	color: #c55454;
}
.scroll-bar-bgr{
	position: absolute;
	right: 0;
	background-color: #fafafa;
	width: 5px;
	height: 100%;
}
.scroll-bar{
	position: absolute;
	right: 0;
	background-color: #c1c1c1;
	border-radius: 5px;
	width: 5px;
	height: 100%;
}
.search-results-wrapper{
	position: relative;
	height: 100%;
}
mark{
	background-color: #ececec;
	color: black;
	padding-left: 0;
	padding-right: 0;
}
a.search-item{
	text-decoration: none !important;
}