.userbar-item{
    font-size: 0.8rem;
    color: #565656;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
}
.userbar-item i{
	font-size: 22px;
}
.userbar-item span{
    margin-top: 8px;
}
.userbar-item.selected{
	background-color: white;
}
.info{
	display: flex;
	flex-direction: row;
	margin: 20px 10px;
}
.info-label{
	width: 150px;
	font-size: 0.9em;
}
.value input[type=text]{
    border: solid 1px #bcbcbc;
    border-radius: 3px;
    padding: 8px 12px;
}
.value label{
	padding: 5px 0;
}
.info-label span{
	font-size: 1rem;
	vertical-align: middle;
	letter-spacing: 0.3px;
}
.form-control{
	border-radius: 0;
	border-color: #686868;
}
.update{
	margin-left: 160px;
    padding: 8px 30px;
    background-color: #FFEB3B;
    color: #3a350e;
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto";
}
.table-cart{
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 200px);
}